body{
    width: 100%;
    height: 100vh;
    margin: 0;
    color: black;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    background: linear-gradient(90deg, #B1B2FF, #AAC4FF, #D2DAFF);
  }
  header{
    color: white;
    margin: 1em auto;
    text-align: center;
    text-shadow: 1px 1px 2px magenta, 0 0 25px blue, 0 0 10px darkblue;
  }
  h1{
    font-size: 50px;
    text-decoration-line: underline;
    text-decoration-color: #AAC4FF;
  }
  .project{
    font-size: 30px;
    margin-top: -40px;
  }
  ::placeholder{
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    color: white;
    text-align: center;
  }
  select{
    font-family: 'Dancing Script', cursive;
    font-size: 18px;
    background-color: #B1B2FF;
    color: white;
    text-align: center;
  }
  .question{
    font-size: 25px;
    text-decoration-line: underline;
  }
  form{
    background-color: AAC4FF;
    box-shadow: 10px 10px 20px black, 0 0 50px black, 0 0 30px blue;
    width: 200vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 40px;
    border-radius: 50px; 
  }
  fieldset {
    border: none;
    border-bottom: 3px solid #3b3b4f;
    text-shadow: 1px 1px 2px magenta, 0 0 25px blue, 0 0 10px darkblue;
    color: white;
    border-radius: 15px;
  }
  
  fieldset:last-of-type {
    border-bottom: none;
  }
  
  label {
    display: block;
    margin: 0.5rem 0;
  }
  
  input,
  textarea,
  select {
    margin: 0 0 5 0;
    width: 100%;
    min-height: 2em;
  }
  
  input, textarea {
    background-color: #B1B2FF;
    border: 1px solid #0a0a23;
    color: #ffffff;
    border-radius: 50px;
    text-align: center;
    font-size: 15;
  }
  
  .inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }
  
  input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background: linear-gradient(90deg, #B1B2FF, #AAC4FF, #D2DAFF);
    box-shadow: 5px 5px 30px black;
    border-color: white;
    min-width: 300px;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    color: black;
  }
  .feedback{
    font-size: 30px;
    text-align: center;
  }
  .middle{
    text-align: center;
  }
  textarea {
    border-radius: 10px;
  }